#portfolio__div,
#articles__div {
  display: grid;
  grid-gap: $grid8x;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-auto-rows: minmax(250px, auto);

  @media #{$landsc} {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio__img,
  .articles__img {
    width: 100%;
    object-fit: cover;
    border-radius: $grid2x;
  }
}
